body{
    background-color: lightcyan;
    border: lightseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}
.calculator{
    width: 435px;
    margin: auto;
    background-color: #008080 ;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;  
    flex-wrap: wrap; 
    justify-content: center;
}
.container{
    text-align: center;
    color: whitesmoke;
    display: flex;  
    flex-wrap: wrap;
}
.container h1{
    margin: 10px;
}
.display{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input{
    font-size:35px;
    display: flex;
    justify-content: center;
    padding-left: 2px;
}
#inputScreen{
    /* display: flex; */
    text-align: right;
    height: 8vh;
    color: #008080;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}
#answerScreen{
    text-align: right;
    color: lightseagreen;
    height: 7px;
    line-height: 3;
    font-size: larger;
}

#button_row1{
    display: flex;
    align-content: center;
    justify-content: center;
}
#button_row2{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
#button_row3{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
#button_row4{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
#button_row5{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
button{
    margin:5px;
    width: 100px;
    height: 80px;
    background-color:#E0FFFF;
    font-size: x-large;
    border-color: #E0FFFF;
}
#column .keyboard .op_fn{
    background-color: #E0FFFF;
    border-color: #E0FFFF;
    color: blue;
    font-size: x-large;
}
@media only screen and (max-width: 600px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 1030px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 800px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 400px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 700px) {
    body {
        align-items: flex-start;
    }
}






