body{
    min-height: 90vh;
    background-color: lightcyan;
    border: lightseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.calculator{
    width: 435px;
    margin: auto;
    background-color: #008080 ;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;  
    flex-wrap: wrap; 
}
.container{
    text-align: center;
    color: whitesmoke;
}
.container h1{
    text-align: center;
    margin: 10px;
}
.display{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#input{
    font-size:34.3px;
}
#answer{
    font-size:34.3px;
}

#button_column1{
    display: flex;
    align-content: center;
    justify-content: center;
}
#button_column2{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
#button_column3{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
#button_column4{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
#button_column5{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
button{
    margin:5px;
    width: 100px;
    height: 80px;
    background-color:#E0FFFF;
    font-size: x-large;
    border-color: #E0FFFF;
}
.operators button{
    background-color: #E0FFFF;
    border-color: #E0FFFF;
    color: blue;
    font-size: x-large;
}
@media only screen and (max-width: 600px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 1030px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 800px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 400px) {
    body {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 700px) {
    body {
        align-items: flex-start;
    }
}






