body{
    background-color: lightcyan;
    border: lightseagreen;
    display: flex;
    justify-content: center;
    align-content: center;
}
.calculator{
    width: 435px;
    margin: auto;
    background-color: #008080 ;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.container{
    text-align: center;
    color: whitesmoke;
    
}
.container h1{
    margin: 10px;
}
.screen{
    text-align: center;
}
input{
    font-size:34.3px;
}
.button_column1{
    display: flex;
    align-content: center;
    justify-content: center;

}
.button_column2{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.button_column3{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.button_column4{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.button_column5{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
button{
    margin:5px;
    width: 100px;
    height: 80px;
    background-color:#E0FFFF;
    font-size: x-large;
    border-color: #E0FFFF;
}
.operators button{
    background-color: #E0FFFF;
    border-color: #E0FFFF;
    color: blue;
    font-size: x-large;
}

@media screen and (max-width: 800px) {
    .button_column1 {
      flex: 30%;
      max-width: 30%;
    }
  }

@media screen and (max-width: 600px) {
    .button_column1 {
      flex: 30%;
      max-width: 30%;
    }
  }

@media screen and (max-width: 400px) {
    .button_column1 {
      flex: 40%;
      max-width: 40%;
    }
  }
  
 @media screen and (max-width: 300px) {
    .button_column1 {
      flex: 100%;
      max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .button_column2 {
      flex: 25%;
      max-width: 25%;
    }
  }

@media screen and (max-width: 600px) {
    .button_column2 {
      flex: 30%;
      max-width: 30%;
    }
  }

@media screen and (max-width: 400px) {
    .button_column2 {
      flex: 45.5%;
      max-width: 45.5%;
    }
  }
  
 @media screen and (max-width: 300px) {
    .button_column2 {
      flex: 100%;
      max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .button_column3 {
      flex: 25%;
      max-width: 25%;
    }
  }

@media screen and (max-width: 600px) {
    .button_column3 {
      flex: 30%;
      max-width: 30%;
    }
  }

@media screen and (max-width: 400px) {
    .button_column3 {
      flex: 45.5%;
      max-width: 45.5%;
    }
  }
  
 @media screen and (max-width: 300px) {
    .button_column3 {
      flex: 100%;
      max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .button_column4 {
      flex: 25%;
      max-width: 25%;
    }
  }

@media screen and (max-width: 600px) {
    .button_column4 {
      flex: 30%;
      max-width: 30%;
    }
  }

@media screen and (max-width: 400px) {
    .button_column4 {
      flex: 45.5%;
      max-width: 45.5%;
    }
  }
  
 @media screen and (max-width: 300px) {
    .button_column4 {
      flex: 100%;
      max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .button_column5 {
      flex: 25%;
      max-width: 25%;
    }
  }

@media screen and (max-width: 600px) {
    .button_column5 {
      flex: 30%;
      max-width: 30%;
    }
  }

@media screen and (max-width: 400px) {
    .button_column5 {
      flex: 45.5%;
      max-width: 45.5%;
    }
  }
  
 @media screen and (max-width: 300px) {
    .button_column5 {
      flex: 100%;
      max-width: 100%;
    }
}





